
# C:\Users\dev\Documents\repositories\notebooks\.gitignore

# Ignore whole folders
AndrewTextClassification/data
CMS_DRGs/data/shapefiles
Favicons/data
RPC/data

# Ignore big files (GitHub will warn you when pushing files larger than 50 MB. You will not be allowed to
# push files larger than 100 MB.) Tip: If you regularly push large files to GitHub, consider introducing
# Git Large File Storage (Git LFS) as part of your workflow.
AndrewTextClassification/data/csv/ACLED.csv
AndrewTextClassification/data/csv/acled_df.csv
AndrewTextClassification/data/csv/GTDB.csv
AndrewTextClassification/data/csv/gtdb_df.csv
AndrewTextClassification/data/csv/UCDP.csv
AndrewTextClassification/data/csv/ucdp_df.csv
AndrewTextClassification/data/xlsx/all_source.xlsx
AndrewTextClassification/data/xlsx/GTDB.xlsx
AndrewTextClassification/data/xlsx/gtdb_df.xlsx
CMS_DRGs/data/shapefiles/cb_2016_us_zcta510_500k.zip
CMS_DRGs/data/shapefiles/tl_2015_us_zcta510.zip
CMS_DRGs/data/shapefiles/tl_2016_us_county.zip
CMS_DRGs/data/shapefiles/USA_Counties.lpk
CMS_DRGs/data/shapefiles/cb_2016_us_zcta510_500k/cb_2016_us_zcta510_500k.shp
CMS_DRGs/data/shapefiles/tl_2015_us_zcta510/tl_2015_us_zcta510.shp
CMS_DRGs/data/shapefiles/tl_2016_us_county/tl_2016_us_county.shp
coin-analytics/data/csv/coinbaseUSD.csv
coin-analytics/saves/pickle/coinbaseUSD_df.pickle
courses-master/algorithms/nifty-onegram/all_words.tsv
courses-master/platforms/bokeh/baby_names/yob.pickle
data/natural-earth-vector-master/10m_cultural/ne_10m_roads_north_america.shp
data/natural-earth-vector-master/updates/version_1d2/10m_cultural/10m_roads_north_america.shp
data/natural-earth-vector-master/updates/version_1d3/10m_cultural/10m_roads_north_america.shp
data/pickle/model-013.pickle
data/pickle/X-011.pickle
data-science-5k/data/csv/nesarc_pds.csv
Favicons/data/full-0.z
Favicons/data/full-0.z.zip
Favicons/data/full-1.z
Favicons/data/full-1.z.zip
Favicons/data/full-2.z
Favicons/data/full-2.z.zip
Favicons/data/full-3.z
Favicons/data/full-3.z.zip
Favicons/data/full-4.z
Favicons/data/full-4.z.zip
Favicons/data/full-5.z
Favicons/data/full-5.z.zip
handson-ml-master/my_mnist.data
LearnDataScience-master/datasets/ucihar/train/X_train.txt
Miscellaneous/data/csv/Offender_Race_data.csv
Miscellaneous/data/csv/U.S._Homicide_Reports,_1980-2014_Homicides_between_1980_and_2014.csv
Miscellaneous/data/gz/coinbaseUSD.csv.gz
Miscellaneous/saves/gif/butter.gif
Miscellaneous/saves/gif/Q2tbQEo.gif
mobile-phone-activity/data/csv/mi-to-provinces-2013-11-01.csv
mobile-phone-activity/data/csv/mi-to-provinces-2013-11-02.csv
mobile-phone-activity/data/csv/mi-to-provinces-2013-11-03.csv
mobile-phone-activity/data/csv/mi-to-provinces-2013-11-04.csv
mobile-phone-activity/data/csv/mi-to-provinces-2013-11-05.csv
mobile-phone-activity/data/csv/mi-to-provinces-2013-11-06.csv
mobile-phone-activity/data/csv/mi-to-provinces-2013-11-07.csv
mobile-phone-activity/data/csv/sms-call-internet-mi-2013-11-01.csv
mobile-phone-activity/data/csv/sms-call-internet-mi-2013-11-02.csv
mobile-phone-activity/data/csv/sms-call-internet-mi-2013-11-03.csv
mobile-phone-activity/data/csv/sms-call-internet-mi-2013-11-04.csv
mobile-phone-activity/data/csv/sms-call-internet-mi-2013-11-05.csv
mobile-phone-activity/data/csv/sms-call-internet-mi-2013-11-06.csv
mobile-phone-activity/data/csv/sms-call-internet-mi-2013-11-07.csv
mobile-phone-activity/data/zip/mobile-phone-activity.zip
mobile-phone-activity/saves/csv/correlation_df.csv
mobile-phone-activity/saves/csv/internet_df.csv
mobile-phone-activity/saves/csv/mi_to_provinces_2013_11_01_df.csv
mobile-phone-activity/saves/csv/mi_to_provinces_2013_11_02_df.csv
mobile-phone-activity/saves/csv/mi_to_provinces_2013_11_03_df.csv
mobile-phone-activity/saves/csv/mi_to_provinces_2013_11_04_df.csv
mobile-phone-activity/saves/csv/mi_to_provinces_2013_11_05_df.csv
mobile-phone-activity/saves/csv/mi_to_provinces_2013_11_06_df.csv
mobile-phone-activity/saves/csv/mi_to_provinces_2013_11_07_df.csv
mobile-phone-activity/saves/csv/provinces_df.csv
mobile-phone-activity/saves/csv/sms_call_internet_mi_2013_11_01_df.csv
mobile-phone-activity/saves/csv/sms_call_internet_mi_2013_11_02_df.csv
mobile-phone-activity/saves/csv/sms_call_internet_mi_2013_11_03_df.csv
mobile-phone-activity/saves/csv/sms_call_internet_mi_2013_11_04_df.csv
mobile-phone-activity/saves/csv/sms_call_internet_mi_2013_11_05_df.csv
mobile-phone-activity/saves/csv/sms_call_internet_mi_2013_11_06_df.csv
mobile-phone-activity/saves/csv/sms_call_internet_mi_2013_11_07_df.csv
mobile-phone-activity/saves/pickle/correlation_df.pickle
mobile-phone-activity/saves/pickle/internet_df.pickle
mobile-phone-activity/saves/pickle/mi_to_provinces_2013_11_01_df.pickle
mobile-phone-activity/saves/pickle/mi_to_provinces_2013_11_02_df.pickle
mobile-phone-activity/saves/pickle/mi_to_provinces_2013_11_03_df.pickle
mobile-phone-activity/saves/pickle/mi_to_provinces_2013_11_04_df.pickle
mobile-phone-activity/saves/pickle/mi_to_provinces_2013_11_05_df.pickle
mobile-phone-activity/saves/pickle/mi_to_provinces_2013_11_06_df.pickle
mobile-phone-activity/saves/pickle/mi_to_provinces_2013_11_07_df.pickle
mobile-phone-activity/saves/pickle/provinces_cellId_sequence.pickle
mobile-phone-activity/saves/pickle/provinces_df.pickle
mobile-phone-activity/saves/pickle/sms_call_internet_mi_2013_11_01_df.pickle
mobile-phone-activity/saves/pickle/sms_call_internet_mi_2013_11_02_df.pickle
mobile-phone-activity/saves/pickle/sms_call_internet_mi_2013_11_03_df.pickle
mobile-phone-activity/saves/pickle/sms_call_internet_mi_2013_11_04_df.pickle
mobile-phone-activity/saves/pickle/sms_call_internet_mi_2013_11_05_df.pickle
mobile-phone-activity/saves/pickle/sms_call_internet_mi_2013_11_06_df.pickle
mobile-phone-activity/saves/pickle/sms_call_internet_mi_2013_11_07_df.pickle
Offutt-AFB-Data-Science/data/csv/events/CO_TransformedData - 20170223 1418_TTLs.csv
Offutt-AFB-Data-Science/saves/ACLA/aclas_df (Clean up student rank).csv
Offutt-AFB-Data-Science/saves/ACLA/aclas_df (Clean up student rank).pickle
Offutt-AFB-Data-Science/saves/ACLA/aclas_df (Concatonate Datasets).csv
Offutt-AFB-Data-Science/saves/ACLA/aclas_df (Concatonate Datasets).pickle
Offutt-AFB-Data-Science/saves/ACLA/acla_events_df (Clean up student rank).csv
Offutt-AFB-Data-Science/saves/ACLA/acla_events_df (Clean up student rank).pickle
Offutt-AFB-Data-Science/saves/ACLA/acla_events_df (Fix ClassPulled).csv
Offutt-AFB-Data-Science/saves/ACLA/acla_events_df (Fix ClassPulled).pickle
Offutt-AFB-Data-Science/saves/csv/everybody_df (Clean up student names).csv
Offutt-AFB-Data-Science/saves/csv/everybody_df (Clean up student rank).csv
Offutt-AFB-Data-Science/saves/csv/everybody_df (Concatonate Datasets).csv
Offutt-AFB-Data-Science/saves/csv/everybody_df (Finish cleaning up student names).csv
Offutt-AFB-Data-Science/saves/csv/everybody_df (Fix blank first names).csv
Offutt-AFB-Data-Science/saves/csv/everybody_df (Fix blank last names).csv
Offutt-AFB-Data-Science/saves/csv/everybody_df (Redo student names).csv
Offutt-AFB-Data-Science/saves/txt/random_pool_list.txt
Offutt-AFB-Data-Science/saves/xlsx/everybody_df.xlsx
Probabilistic-Programming-and-Bayesian-Methods-for-Hackers/.git/objects/pack/pack-199ce58360653f5ff55df22a1e283e3b90a8bd95.pack
RPC/data/compressed/2018_01_07_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_01_21_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_02_11_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_02_18_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_02_25_Redeemer_SS_Kerr.mp3
RPC/data/compressed/2018_03_04_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_03_04_Redeemer_SS_Kerr.mp3
RPC/data/compressed/2018_03_11_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_03_11_Redeemer_SS_Kerr.mp3
RPC/data/compressed/2018_03_18_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_03_18_Redeemer_SS_Kerr.mp3
RPC/data/compressed/2018_03_25_Redeemer_Sermon_Atkinson.mp3
RPC/data/compressed/2018_04_01_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_04_15_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_04_22_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_04_29_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_05_06_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_05_13_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_05_20_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_05_27_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_06_03_Redeemer_Sermon_Carneiro.mp3
RPC/data/compressed/2018_06_10_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_06_24_Redeemer_Sermon_Kerr2.mp3
RPC/data/compressed/2018_07_01_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_07_08_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_07_15_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_07_22_Sermon_Hoke.mp3
RPC/data/compressed/2018_07_29_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_08_05_Redeemer_Sermon_Kim.mp3
RPC/data/compressed/2018_08_12_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_08_19_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_08_26_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_09_02_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_09_09_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_09_16_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_09_23_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_09_30_Redeemer_Sermon_Owens.mp3
RPC/data/compressed/2018_10_07_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_10_21_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_10_28_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_11_04_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_11_11_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_11_18_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_11_25_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_12_02_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_12_09_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_12_16_Redeemer_Semon_Kerr.mp3
RPC/data/compressed/2018_12_23_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2018_12_30_Redeemer_Sermon_Gray.mp3
RPC/data/compressed/2019_01_06_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_01_13_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_01_27_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_02_03_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_02_17_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_02_24_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_03_03_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_03_10_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_03_17_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_03_31_Redeemer_Sermon_Ortiz.mp3
RPC/data/compressed/2019_04_07_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_04_14_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_04_21_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_04_28_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_05_05_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_05_12_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_05_19_Redeemer_Sermon_Anderson.mp3
RPC/data/compressed/2019_05_26_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_06_02_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_06_09_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_06_16_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_06_23_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_07_07_Redeemer_Sermon_Hoke.mp3
RPC/data/compressed/2019_07_14_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_07_21_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_07_28_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_08_04_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_08_18_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_08_25_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_09_08_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_09_22_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_09_29_Redeemer_Sermon_Kerr (1).mp3
RPC/data/compressed/2019_09_29_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_10_06_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_10_13_Redeemer_Sermon_Kerr.mp3
RPC/data/compressed/2019_10_20_Redeemer_Sermon_Atkinson.mp3
RPC/data/compressed/2019_10_27_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/20120624%20RedeemerSermon%20Maguire.mp3
RPC/data/mp3/20120701%20RedeemerSermon%20Maguire.mp3
RPC/data/mp3/20120708%20RedeemerSermon%20Hoke.mp3
RPC/data/mp3/20121014%20RedeemerSermon%20Maguire.mp3
RPC/data/mp3/20130908%20RedeemerSermon%20Maguire.mp3
RPC/data/mp3/20141005_Redeemer_Sermon_Maguire.mp3
RPC/data/mp3/20141130_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/20170219%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170226%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170305%20Redeemer%20Sermon%20England.mp3
RPC/data/mp3/20170319%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170326%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170402%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170409%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170423%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170430%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170514%20Redeemer%20Sermon%20England.mp3
RPC/data/mp3/20170521%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170528%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170611%20Redeemer%20Sermon%20Dourado.mp3
RPC/data/mp3/20170618%20Redeemer%20Sermon%20England.mp3
RPC/data/mp3/20170625%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170702%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170709%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170723%20redeemer%20sermon%20kerr.mp3
RPC/data/mp3/20170730%20Redeemer%20Sermon%20Hoke.mp3
RPC/data/mp3/20170806%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170813%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170820%20Redeemer%20Sermon%20England.mp3
RPC/data/mp3/20170827%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170903%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170910%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170917%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20170924%20Redeemer%20Sermon%20Kerr.mp3
RPC/data/mp3/20171001_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/20171008_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/20171015_Redeemer_Sermon_England.mp3
RPC/data/mp3/20171029_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/20171105_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/20171112_Redeemer_Sermon_Davis.mp3
RPC/data/mp3/20171119_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/20171203_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/20171217_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2017_12_31_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_01_07_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_01_21_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_02_11_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_02_18_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_03_04_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_03_04_Redeemer_SS_Kerr.mp3
RPC/data/mp3/2018_03_11_Redeemer_SS_Kerr.mp3
RPC/data/mp3/2018_03_11_Reedemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_03_18_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_03_18_Redeemer_SS_Kerr.mp3
RPC/data/mp3/2018_03_25_Redeemer_Sermon_Atkinson.mp3
RPC/data/mp3/2018_04_01_Redeemer_Sermon_Kerr%20%281%29.mp3
RPC/data/mp3/2018_04_01_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_04_15_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_04_22_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_04_29_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_05_06_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_05_13_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_05_20_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_05_27_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_06_03_Redeemer_Sermon_Carneiro.mp3
RPC/data/mp3/2018_06_10_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_06_24_Redeemer_Sermon_Kerr2.mp3
RPC/data/mp3/2018_07_01_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_07_08_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_07_15_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_07_22_Sermon_Hoke.mp3
RPC/data/mp3/2018_07_29_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_08_05_Redeemer_Sermon_Kim.mp3
RPC/data/mp3/2018_08_12_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_08_19_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_08_26_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_09_02_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_09_09_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_09_16_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_09_23_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_09_30_Redeemer_Sermon_Owens.mp3
RPC/data/mp3/2018_10_07_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_11_04_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_11_11_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_11_18_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_11_25_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_12_02_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_12_09_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_12_16_Redeemer_Semon_Kerr.mp3
RPC/data/mp3/2018_12_23_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2018_12_30_Redeemer_Sermon_Gray.mp3
RPC/data/mp3/2019_01_06_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_01_13_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_01_27_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_02_03_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_02_17_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_02_24_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_03_03_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_03_10_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_03_17_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_03_31_Redeemer_Sermon_Ortiz.mp3
RPC/data/mp3/2019_04_07_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_04_14_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_04_21_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_04_28_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_05_05_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_05_12_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_05_19_Redeemer_Sermon_Anderson.mp3
RPC/data/mp3/2019_05_26_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_06_02_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_06_09_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_06_16_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_06_23_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_07_07_Redeemer_Sermon_Hoke.mp3
RPC/data/mp3/2019_07_14_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_07_21_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_07_28_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_08_04_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_09_08_redeemer_sermon_kerr.mp3
RPC/data/mp3/2019_09_22_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_09_29_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_10_06_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_10_13_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_10_20_Redeemer_Sermon_Atkinson.mp3
RPC/data/mp3/2019_11_10_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_11_24_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_12_01_Sermon_Kerr.mp3
RPC/data/mp3/2019_12_22_Redeemer_Sermon_Kerr.mp3
RPC/data/mp3/2019_12_29_Redeemer_Sermon_Owens.mp3
scikit_learn_data/mldata/mnist-original.mat
Strauss–Howe/saves/movies/movie.gif
Strauss–Howe/saves/movies/saeculum_movie.gif
Strauss–Howe/saves/movies/bare/_movie.gif
Strauss–Howe/saves/movies/diagonal/Another_Attempt_to_Visualize_my_Patriline_Data.gif
Strauss–Howe/saves/movies/diagonal/baby_boy_babbitt_movie.gif
Strauss–Howe/saves/movies/diagonal/movie.gif
Strauss–Howe/saves/movies/saeculum/saeculum_movie.gif
Strauss–Howe/saves/movies/saeculum_fashionable/baby_boy_babbitt_movie.gif
Strauss–Howe/saves/movies/saeculum_fashionable/movie_to_2020.gif
Strauss–Howe/saves/movies/saeculum_fashionable/saeculum_fashionable_movie.gif
Web Scrapers/log/geckodriver.log
Word2Vec/data/glove.840B.300d-014.txt
Word2Vec/data/GoogleNews-vectors-negative300.bin.gz
Word2Vec/data/GoogleNews-vectors-negative300.saved_gensim_model
Word2Vec/data/GoogleNews-vectors-negative300.saved_gensim_model.vectors.npy
Word2Vec/data/text8
Word2Vec/data/text8-phrases
Word2Vec/data/glove.6B/glove.6B.100d.txt
Word2Vec/data/glove.6B/glove.6B.200d.txt
Word2Vec/data/glove.6B/glove.6B.300d.txt
Word2Vec/data/glove.6B/glove.6B.50d.txt

# exclude everything except personal directories
/*
!/CompTIA Security+ Certification
!/Miscellaneous
!/Simulations
!/Strauss–Howe
!/TensorFlow
!/Word2Vec
!/age-of-empires-ii
!/airline-sentiment
!/data-science-5k
!/job-hunting
!/joy-plots
!/load_magic
!/march-madness
!/mobile-phone-activity
!/oscars
!/ramadan-2015
!/saves
!/tale-of-2-cities
!/texas-flooding
!/text-classification
!/web-scrapers
!/word-cloud

# Exclude executables
*.exe

# Exclude Mac, Jupyter, R, and Octave admin files
**/octave-workspace
**/.ipynb_checkpoints/
**/__pycache__/
**/.Rproj.user/

# Exclude secrets
**/json/*_secrets.json

# Exclude Strauss–Howe notebooks that I didn't make

# Exclude Miscellaneous notebooks that I didn't make
Miscellaneous/ipynb/HW2.ipynb
Miscellaneous/ipynb/Linear Regression with Gradient Descent.ipynb
Miscellaneous/ipynb/mandelbrot_numbapro.ipynb
Miscellaneous/ipynb/not_so_obvious_python_stuff.ipynb
Miscellaneous/ipynb/spotify_one_dimensional_analysis.ipynb
Miscellaneous/ipynb/spotify_one_dimensional_blog_post.ipynb
Miscellaneous/ipynb/mandelbrot_numbapro.ipynb
Miscellaneous/ipynb/Google Drive.ipynb
Miscellaneous/json/htm-anomaly-detection-851805202b9b.json
Miscellaneous/json/quickstart.py
Miscellaneous/ipynb/Channel_Attribution_Building_Blocks_of_Interpretability.ipynb
Miscellaneous/spotify_one_dimensional_blog_post.ipynb

# Exclude Simulations notebooks that I didn't make
Simulations/dsdemo1.ipynb
Simulations/neural_cue_combination.ipynb
Simulations/s7_streaming.ipynb
Simulations/simulation frameworks.ipynb

# Exclude TensorFlow notebooks that I didn't make
TensorFlow/Basic Usage.ipynb
TensorFlow/Deep Convolutional Generative Adversarial Network (DCGAN) Tutorial.ipynb
TensorFlow/gan-intro-master
TensorFlow/Generative Adversarial Networks
TensorFlow/handson-ml-master
TensorFlow/kur-master
TensorFlow/input_data.py
TensorFlow/models
TensorFlow/seq2seq docs
TensorFlow/TensorFlow-Tutorials-master
TensorFlow/figs/
TensorFlow/MNIST_data/

# Exclude Word2Vec notebooks that I didn't make
Word2Vec/back_end
Word2Vec/benchmarking.ipynb
Word2Vec/cnn-text-classification-tf-master
Word2Vec/data
Word2Vec/DeepLearningMovies-master
Word2Vec/doc2vec.ipynb
Word2Vec/GoogleNews-vectors-negative300.ipynb
Word2Vec/inspect_google_word2vec.py
Word2Vec/word2vec.ipynb
Word2Vec/Wordrank_comparisons.ipynb

# Exclude text-classification notebooks that I didn't make
text-classification/data
text-classification/ipynb/exercise_01_language_train_model..ipynb
text-classification/ipynb/exercise_02_sentiment.ipynb
text-classification/skeletons/exercise_01_language_train_model.py
text-classification/skeletons/exercise_02_sentiment.py
text-classification/solutions/exercise_01_language_train_model.py
text-classification/solutions/exercise_02_sentiment.py
text-classification/solutions/generate_skeletons.py
text-classification/working_with_text_data_fixture.py

# Exclude web-scraper notebooks that I didn't make
web-scrapers/ipnyb/how_to_build_facebook_scraper.ipynb

# Exclude march-madness notebooks that I didn't make
march-madness/Data.properties
march-madness/Data/MMdocs.properties
march-madness/Data/tweets.properties
march-madness/Data/TwitterDATA.properties
march-madness/Data/TwitterDATA/*.txt
march-madness/dplyr-tutorial-master
march-madness/March Madness.properties
march-madness/Processes.properties
march-madness/Processes/Text Mining.properties

# Exclude TX Flooding code that I didn't write
texas-flooding/myStream.php/myStream.php
texas-flooding/myStream.php/TwitterAPIExchange.php
texas-flooding/twitter_streaming.py

# Exclude Word Cloud code that I didn't write
word-cloud/appendix_c3_program.R
word-cloud/rtutorial.txt
word-cloud/rollapply.R

# Exclude Data Science 5K code that I didn't write
data-science-5k/assignments
data-science-5k/m/ex1/computeCostMulti.m
data-science-5k/m/ex1/ex1.m
data-science-5k/m/ex1/ex1_multi.m
data-science-5k/m/ex1/gradientDescentMulti.m
data-science-5k/m/**/lib
data-science-5k/m/ex1/normalEqn.m
data-science-5k/m/**/submit.m
data-science-5k/m/ex1/warmUpExercise.m
data-science-5k/m/ex2/ex2.m
data-science-5k/m/ex2/ex2_reg.m
data-science-5k/m/ex2/mapFeature.m
data-science-5k/m/ex2/plotDecisionBoundary.m
data-science-5k/m/ex3/displayData.m
data-science-5k/m/ex3/ex3.m
data-science-5k/m/ex3/ex3_nn.m
data-science-5k/m/**/fmincg.m
data-science-5k/m/ex3/sigmoid.m
data-science-5k/m/ex4/checkNNGradients.m
data-science-5k/m/ex4/computeNumericalGradient.m
data-science-5k/m/ex4/debugInitializeWeights.m
data-science-5k/m/ex4/displayData.m
data-science-5k/m/ex4/ex4.m
data-science-5k/m/ex4/nnCostFunction.m
data-science-5k/m/ex4/predict.m
data-science-5k/m/ex4/sigmoid.m
data-science-5k/m/ex5/ex5.m
data-science-5k/m/ex5/featureNormalize.m
data-science-5k/m/ex5/learningCurve.m
data-science-5k/m/ex5/plotFit.m
data-science-5k/m/ex5/trainLinearReg.m
data-science-5k/m/ex6/ex6.m
data-science-5k/m/ex6/ex6_spam.m
data-science-5k/m/ex6/getVocabList.m
data-science-5k/m/ex6/linearKernel.m
data-science-5k/m/ex6/plotData.m
data-science-5k/m/ex6/porterStemmer.m
data-science-5k/m/ex6/readFile.m
data-science-5k/m/ex6/svmPredict.m
data-science-5k/m/ex6/svmTrain.m
data-science-5k/m/ex6/visualizeBoundary.m
data-science-5k/m/ex6/visualizeBoundaryLinear.m
data-science-5k/m/ex7/displayData.m
data-science-5k/m/ex7/drawLine.m
data-science-5k/m/ex7/ex7.m
data-science-5k/m/ex7/ex7_pca.m
data-science-5k/m/ex7/featureNormalize.m
data-science-5k/m/ex7/plotDataPoints.m
data-science-5k/m/ex7/plotProgresskMeans.m
data-science-5k/m/ex7/runkMeans.m
data-science-5k/m/ex8/checkCostFunction.m
data-science-5k/m/ex8/computeNumericalGradient.m
data-science-5k/m/ex8/ex8.m
data-science-5k/m/ex8/ex8_cofi.m
data-science-5k/m/ex8/loadMovieList.m
data-science-5k/m/ex8/multivariateGaussian.m
data-science-5k/m/ex8/normalizeRatings.m
data-science-5k/m/ex8/visualizeFit.m
data-science-5k/m/squareAndCubeThisNumer.m
data-science-5k/ipynb/applied-social-network-analysis/Assignment+2.ipynb
data-science-5k/ipynb/applied-social-network-analysis/Assignment+3.ipynb
data-science-5k/ipynb/applied-social-network-analysis/Assignment+4.ipynb
data-science-5k/ipynb/applied-social-network-analysis/Module 4 Quiz.ipynb
*.pickle
Miscellaneous/ps1/autocrlf.ps1
Strauss–Howe/data/mov/2020-01-09_14-46-28.mov
Strauss–Howe/data/mp4/2020-01-09_14-49-27.mp4
