
# C:\Users\dev\Documents\repositories\notebooks\.gitignore

# Ignore files that contain harddrive-specific information
Miscellaneous/data/xlsx/Copy of DI2E Framework Jira 2020-04-30T16_03_25-0400.xlsx
covid19/data/xlsx/API_SH.MED.BEDS.ZS_DS2_en_excel_v2_988704.xlsx
covid19/environment.yml
covid19/ipynb/Realtime R0 among the Nations.ipynb
covid19/ipynb/Realtime R0.ipynb
covid19/ipynb/date.ipynb
covid19/jupyter_notebook_config.py
covid19/notepad_session.xml
covid19/ps1/run_jupyter_lab.ps1
covid19/saves/csv/states_df.csv

# exclude everything except personal directories
/*
!/CompTIA Security+ Certification
!/Miscellaneous
!/StatsByCountry
!/Strauss–Howe
!/TensorFlow
!/airline-sentiment
!/covid19
!/job-hunting
!/joy-plots
!/load_magic
!/mobile-phone-activity
!/oscars
!/ramadan-2015
!/saves
!/tale-of-2-cities

# Ignore whole folders
**/.git/
AndrewTextClassification/data
CMS_DRGs/data/shapefiles
Favicons/data
Miscellaneous/data/twitter
Miscellaneous/saves/emails
Miscellaneous/saves/gif
Offutt-AFB-Data-Science/saves
RPC/data
Strauss–Howe/saves/movies
covid19/data/csv
covid19/data/gpw-v4-population-count-rev11_2020_30_sec_asc
covid19/data/tif
covid19/whl
job-hunting/saves/html
job-hunting/saves/txt
mobile-phone-activity/data
mobile-phone-activity/saves/csv
mobile-phone-activity/saves/pickle

# Ignore big files (GitHub will warn you when pushing files larger than 50 MB. You will not be allowed to
# push files larger than 100 MB.) Tip: If you regularly push large files to GitHub, consider introducing
# Git Large File Storage (Git LFS) as part of your workflow.
covid19/data/csv/linelist.csv
covid19/data/usa_gpwv3_pdens_ascii_25/usads00ag.asc
covid19/data/usa_gpwv3_pdens_ascii_25/usads00g.asc
covid19/data/usa_gpwv3_pdens_ascii_25/usads90ag.asc
covid19/data/usa_gpwv3_pdens_ascii_25/usads90g.asc
covid19/data/usa_gpwv3_pdens_ascii_25/usads95ag.asc
covid19/data/usa_gpwv3_pdens_ascii_25/usads95g.asc
gpt2-excuse-generator/models/pytorch_model.bin
Miscellaneous/saves/gif/Goodbye_Mr_Conway.gif
Miscellaneous/saves/gif/Q2tbQEo.gif
Miscellaneous/saves/pickle/estimators_list.pickle
Miscellaneous/saves/pickle/fit_estimators_dict.pickle
Miscellaneous/saves/pickle/fit_estimators_list.pickle
StatsByCountry/saves/maps/Spain_languages-en.svg
Strauss–Howe/saves/gif/net_neutrality.gif

# Exclude executables
*.exe

# Exclude Mac, Jupyter, R, and Octave admin files
**/octave-workspace
**/.ipynb_checkpoints/
**/__pycache__/
**/.Rproj.user/

# Exclude secrets
**/json/*_secrets.json

# Exclude pickles
*.pickle

# Exclude COVID-19 code that I didn't write (or too messy)
covid19/data/csv/20200326-sitrep-66-covid-19.csv
covid19/data/csv/NCHSData13.csv
covid19/data/csv/daily.csv
covid19/data/csv/rt.csv
covid19/data/html/annual-average-humidity-by-state.html
covid19/data/html/humidity-city-march.html
covid19/data/html/worldometers_coronavirus.html
covid19/data/pdf/
covid19/data/txt/
covid19/data/usa_gpwv3_pdens_ascii_25/
covid19/data/usa_gpwv3_pdens_wrk_25/
covid19/data/xlsx/annual-average-humidity-by-state.xlsx
covid19/data/xlsx/co-est2019-annres.xlsx
covid19/data/xlsx/humidity-city-march.xlsx
covid19/data/zip/
covid19/ipynb/0704 - Creating a Dot Density Map.ipynb
covid19/ipynb/Realtime R0 among the US States.ipynb
covid19/ipynb/Realtime Rt mcmc.ipynb
covid19/ipynb/US County Population Density-Copy1.ipynb
covid19/py/DiseaseBoard.py
covid19/py/images/Illustration-1.png
covid19/py/images/Illustration-2.png
covid19/py/images/Models.png
covid19/py/spread.py
covid19/saves/csv/rt_old.csv
covid19/saves/pgf/example_2_1_3d_bar_chart.pgf
covid19/saves/pgf/example_2_1_heat_map.pgf
covid19/saves/png/
covid19/saves/svg/Worldmap_northern.svg

# Exclude Strauss–Howe notebooks that I didn't make
Strauss–Howe/data/mov/2020-01-09_14-46-28.mov
Strauss–Howe/data/mp4/2020-01-09_14-49-27.mp4

# Exclude Miscellaneous notebooks that I didn't make
Miscellaneous/data/Takeout/Maps (your places)/Saved Places.json
Miscellaneous/ipynb/Channel_Attribution_Building_Blocks_of_Interpretability.ipynb
Miscellaneous/ipynb/Google Drive.ipynb
Miscellaneous/ipynb/HW2.ipynb
Miscellaneous/ipynb/Linear Regression with Gradient Descent.ipynb
Miscellaneous/ipynb/mandelbrot_numbapro.ipynb
Miscellaneous/ipynb/mandelbrot_numbapro.ipynb
Miscellaneous/ipynb/not_so_obvious_python_stuff.ipynb
Miscellaneous/ipynb/spotify_one_dimensional_analysis.ipynb
Miscellaneous/ipynb/spotify_one_dimensional_blog_post.ipynb
Miscellaneous/json/htm-anomaly-detection-851805202b9b.json
Miscellaneous/json/quickstart.py
Miscellaneous/ps1/autocrlf.ps1
Miscellaneous/saves/csv/unresponses_df.csv
Miscellaneous/spotify_one_dimensional_blog_post.ipynb
saves/csv/Latest ORR.csv

# Exclude TensorFlow notebooks that I didn't make
TensorFlow/Basic Usage.ipynb
TensorFlow/Deep Convolutional Generative Adversarial Network (DCGAN) Tutorial.ipynb
TensorFlow/gan-intro-master
TensorFlow/Generative Adversarial Networks
TensorFlow/handson-ml-master
TensorFlow/kur-master
TensorFlow/input_data.py
TensorFlow/models
TensorFlow/seq2seq docs
TensorFlow/TensorFlow-Tutorials-master
TensorFlow/figs/
TensorFlow/MNIST_data/
