<?xml version="1.0" encoding="Windows-1252" ?>
<NotepadPlus>
    <FindHistory nbMaxFindHistoryPath="10" nbMaxFindHistoryFilter="10" nbMaxFindHistoryFind="10" nbMaxFindHistoryReplace="10" matchWord="no" matchCase="yes" wrap="yes" directionDown="yes" fifRecuisive="no" fifInHiddenFolder="no" dlgAlwaysVisible="no" fifFilterFollowsDoc="no" fifFolderFollowsDoc="no" searchMode="2" transparencyMode="1" transparency="150" dotMatchesNewline="no" isSearch2ButtonsMode="no">
        <Path name="C:\Users\dev\Documents\repositories\notebooks\RPC" />
        <Path name="C:\Users\dev\Documents\repositories\notebooks\RPC\py" />
        <Path name="C:\users\dev\Anaconda3\Lib\site-packages\networkx" />
        <Path name="C:\ProgramData\Anaconda3\Lib\site-packages\networkx" />
        <Path name="C:\ProgramData\Anaconda3\Lib\site-packages\pydrive" />
        <Filter name="*.py;*.ipynb;" />
        <Filter name="*.py;" />
        <Find name="driver" />
        <Find name="reverse_sorted_d" />
        <Find name="create_us_svg" />
        <Find name="label_line_file_path" />
        <Find name="he whole li" />
        <Find name="save_colored_map" />
        <Find name="get_column_description" />
        <Find name="column_description_dict" />
        <Find name="ListedColormap_obj" />
        <Find name="label_line_style_list" />
        <Replace name="self.get_column_description" />
        <Replace name="self.column_description_dict" />
        <Replace name="self.label_line_style_list" />
        <Replace name="self.text_style_list" />
        <Replace name="self.get_colorbar_xml" />
        <Replace name="self.split_suggestion" />
        <Replace name="self.get_style_list" />
        <Replace name="self.state_merge_df" />
        <Replace name="self.label_tspan_style_list" />
        <Replace name="self.label_text_style_list" />
    </FindHistory>
    <FileBrowser latestSelectedItem="C:\Users\dev\Anaconda3\Lib\site-packages\pysvg">
        <root foldername="C:\Users\dev\Anaconda3\Lib\site-packages\pysvg" />
    </FileBrowser>
    <History nbMaxFile="10" inSubMenu="no" customLength="-1">
        <File filename="C:\Users\dev\Documents\repositories\notebooks\StatsByCountry\data\svg\Canada_location_map.svg" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\StatsByCountry\data\svg\Canada_blank_map.svg" />
        <File filename="C:\Users\dev\Anaconda3\Lib\xml\etree\ElementTree.py" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\StatsByCountry\py\storage.py" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\StatsByCountry\py\sermon_utils.py" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\StatsByCountry\saves\svg\Total_Gun_Murder_Deaths_2010.svg" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\StatsByCountry\data\svg\first_us.svg" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\StatsByCountry\data\svg\common_us.svg" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\StatsByCountry\data\svg\unique_us.svg" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\StatsByCountry\saves\xml\states_label_line.xml" />
    </History>
    <GUIConfigs>
        <GUIConfig name="ToolBar" visible="yes">standard</GUIConfig>
        <GUIConfig name="StatusBar">show</GUIConfig>
        <GUIConfig name="TabBar" dragAndDrop="yes" drawTopBar="yes" drawInactiveTab="yes" reduce="yes" closeButton="yes" doubleClick2Close="no" vertical="no" multiLine="yes" hide="no" quitOnEmpty="no" />
        <GUIConfig name="ScintillaViewsSplitter">vertical</GUIConfig>
        <GUIConfig name="UserDefineDlg" position="undocked">hide</GUIConfig>
        <GUIConfig name="TabSetting" replaceBySpace="yes" size="4" />
        <GUIConfig name="AppPosition" x="404" y="0" width="725" height="738" isMaximized="yes" />
        <GUIConfig name="noUpdate" intervalDays="15" nextUpdateDate="20200303">no</GUIConfig>
        <GUIConfig name="Auto-detection">yes</GUIConfig>
        <GUIConfig name="CheckHistoryFiles">no</GUIConfig>
        <GUIConfig name="TrayIcon">no</GUIConfig>
        <GUIConfig name="MaitainIndent">yes</GUIConfig>
        <GUIConfig name="TagsMatchHighLight" TagAttrHighLight="yes" HighLightNonHtmlZone="no">yes</GUIConfig>
        <GUIConfig name="RememberLastSession">yes</GUIConfig>
        <GUIConfig name="DetectEncoding">yes</GUIConfig>
        <GUIConfig name="NewDocDefaultSettings" format="0" encoding="4" lang="0" codepage="-1" openAnsiAsUTF8="yes" />
        <GUIConfig name="langsExcluded" gr0="254" gr1="110" gr2="191" gr3="255" gr4="255" gr5="111" gr6="191" gr7="249" gr8="255" gr9="255" gr10="31" gr11="0" gr12="0" langMenuCompact="yes" />
        <GUIConfig name="Print" lineNumber="yes" printOption="3" headerLeft="" headerMiddle="" headerRight="" footerLeft="" footerMiddle="" footerRight="" headerFontName="" headerFontStyle="0" headerFontSize="0" footerFontName="" footerFontStyle="0" footerFontSize="0" margeLeft="0" margeRight="0" margeTop="0" margeBottom="0" />
        <GUIConfig name="Backup" action="0" useCustumDir="no" dir="" isSnapshotMode="yes" snapshotBackupTiming="7000" />
        <GUIConfig name="TaskList">yes</GUIConfig>
        <GUIConfig name="MRU">yes</GUIConfig>
        <GUIConfig name="URL">2</GUIConfig>
        <GUIConfig name="globalOverride" fg="no" bg="no" font="no" fontSize="no" bold="no" italic="no" underline="no" />
        <GUIConfig name="auto-completion" autoCAction="0" triggerFromNbChar="1" autoCIgnoreNumbers="no" funcParams="yes" />
        <GUIConfig name="auto-insert" parentheses="no" brackets="no" curlyBrackets="no" quotes="no" doubleQuotes="no" htmlXmlTag="no" />
        <GUIConfig name="sessionExt"></GUIConfig>
        <GUIConfig name="workspaceExt"></GUIConfig>
        <GUIConfig name="MenuBar">show</GUIConfig>
        <GUIConfig name="Caret" width="1" blinkRate="600" />
        <GUIConfig name="ScintillaGlobalSettings" enableMultiSelection="no" />
        <GUIConfig name="openSaveDir" value="0" defaultDirPath="" />
        <GUIConfig name="titleBar" short="no" />
        <GUIConfig name="stylerTheme" path="C:\Users\dev\Documents\repositories\notebooks\Miscellaneous\saves\xml\stylers.xml" />
        <GUIConfig name="wordCharList" useDefault="yes" charsAdded="" />
        <GUIConfig name="delimiterSelection" leftmostDelimiter="40" rightmostDelimiter="41" delimiterSelectionOnEntireDocument="no" />
        <GUIConfig name="multiInst" setting="0" />
        <GUIConfig name="MISC" fileSwitcherWithoutExtColumn="no" backSlashIsEscapeCharacterForSql="yes" monospacedFontFindDlg="no" newStyleSaveDlg="no" isFolderDroppedOpenFiles="no" docPeekOnTab="no" docPeekOnMap="no" />
        <GUIConfig name="searchEngine" searchEngineChoice="2" searchEngineCustom="" />
        <GUIConfig name="SmartHighLight" matchCase="no" wholeWordOnly="yes" useFindSettings="no" onAnotherView="no">yes</GUIConfig>
        <GUIConfig name="ScintillaPrimaryView" lineNumberMargin="show" bookMarkMargin="show" indentGuideLine="show" folderMarkStyle="box" lineWrapMethod="aligned" currentLineHilitingShow="show" scrollBeyondLastLine="no" disableAdvancedScrolling="no" wrapSymbolShow="hide" Wrap="no" borderEdge="yes" edge="no" edgeNbColumn="80" zoom="4" zoom2="0" whiteSpaceShow="show" eolShow="hide" borderWidth="2" smoothFont="no" />
        <GUIConfig name="DockingManager" leftWidth="200" rightWidth="200" topHeight="200" bottomHeight="250">
            <PluginDlg pluginName="Notepad++::InternalFunction" id="0" curr="3" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44085" curr="0" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="42051" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="MarkdownViewer++" id="0" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="dummy" id="0" curr="3" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Snippets" id="-1" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="ComparePlugin.dll" id="11" curr="1" prev="-1" isVisible="no" />
            <ActiveTabs cont="0" activeTab="-1" />
            <ActiveTabs cont="1" activeTab="-1" />
            <ActiveTabs cont="2" activeTab="-1" />
            <ActiveTabs cont="3" activeTab="-1" />
        </GUIConfig>
    </GUIConfigs>
    <ProjectPanels>
        <ProjectPanel id="0" workSpaceFile="" />
        <ProjectPanel id="1" workSpaceFile="" />
        <ProjectPanel id="2" workSpaceFile="" />
    </ProjectPanels>
</NotepadPlus>
