<?xml version="1.0" encoding="Windows-1252" ?>
<NotepadPlus>
    <FindHistory nbMaxFindHistoryPath="10" nbMaxFindHistoryFilter="10" nbMaxFindHistoryFind="10" nbMaxFindHistoryReplace="10" matchWord="no" matchCase="yes" wrap="yes" directionDown="yes" fifRecuisive="yes" fifInHiddenFolder="no" dlgAlwaysVisible="no" fifFilterFollowsDoc="no" fifFolderFollowsDoc="no" searchMode="2" transparencyMode="1" transparency="150" dotMatchesNewline="no" isSearch2ButtonsMode="no">
        <Path name="C:\users\dev\Anaconda3\Lib\site-packages\networkx" />
        <Path name="C:\ProgramData\Anaconda3\Lib\site-packages\networkx" />
        <Path name="C:\ProgramData\Anaconda3\Lib\site-packages\pydrive" />
        <Filter name="*.py;" />
        <Find name="unit" />
        <Find name="super_availability_df" />
        <Find name='\s*&lt;span style=&quot;white-space: nowrap&quot;&gt;&lt;/span&gt;' />
        <Find name="_df" />
        <Find name="availability" />
        <Find name="&lt;/ul&gt;" />
        <Find name="&lt;/li&gt;" />
        <Find name="&lt;li&gt;" />
        <Find name="&lt;ul&gt;" />
        <Find name="&lt;/h3&gt;" />
        <Replace name="technology" />
        <Replace name="unit_availability_df" />
        <Replace name="super_availability_df" />
        <Replace name="&lt;/td&gt;&lt;/tr&gt;" />
        <Replace name="&lt;tr&gt;&lt;td&gt;&lt;/td&gt;&lt;td&gt;" />
        <Replace name="&lt;/tr&gt;" />
        <Replace name="&lt;/td&gt;" />
        <Replace name="&lt;td&gt;&lt;/td&gt;&lt;td&gt;" />
        <Replace name="&lt;tr&gt;" />
        <Replace name="&lt;tr&gt;&lt;td&gt;" />
    </FindHistory>
    <History nbMaxFile="10" inSubMenu="no" customLength="-1">
        <File filename="C:\Users\dev\Documents\repositories\notebooks\Miscellaneous\data\txt\aoe_unit_stats.txt" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\Miscellaneous\data\html\military_unit_links.html" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\Miscellaneous\data\txt\aoe2_civ_features.txt" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\Miscellaneous\data\html\aoe2_civ_bonuses.html" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\ipynb\Create Age of Empire II Technology Dataset.ipynb" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\data\html\blacksmith.html" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\ipynb\Clean Up AoE2 Civilization Bonuses Dataset.ipynb" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\ipynb\Clean Up AoE2 Technology Availability Dataset.ipynb" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\ipynb\Clean Up AoE2 Building Availability Dataset.ipynb" />
        <File filename="C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\ipynb\Clean Up AoE2 Unit Availability Dataset.ipynb" />
    </History>
    <GUIConfigs>
        <GUIConfig name="ToolBar" visible="yes">standard</GUIConfig>
        <GUIConfig name="StatusBar">show</GUIConfig>
        <GUIConfig name="TabBar" dragAndDrop="yes" drawTopBar="yes" drawInactiveTab="yes" reduce="yes" closeButton="yes" doubleClick2Close="no" vertical="no" multiLine="yes" hide="no" quitOnEmpty="no" />
        <GUIConfig name="ScintillaViewsSplitter">vertical</GUIConfig>
        <GUIConfig name="UserDefineDlg" position="undocked">hide</GUIConfig>
        <GUIConfig name="TabSetting" replaceBySpace="yes" size="4" />
        <GUIConfig name="AppPosition" x="310" y="0" width="725" height="1080" isMaximized="yes" />
        <GUIConfig name="noUpdate" intervalDays="15" nextUpdateDate="20190424">no</GUIConfig>
        <GUIConfig name="Auto-detection">yes</GUIConfig>
        <GUIConfig name="CheckHistoryFiles">no</GUIConfig>
        <GUIConfig name="TrayIcon">no</GUIConfig>
        <GUIConfig name="MaitainIndent">yes</GUIConfig>
        <GUIConfig name="TagsMatchHighLight" TagAttrHighLight="yes" HighLightNonHtmlZone="no">yes</GUIConfig>
        <GUIConfig name="RememberLastSession">yes</GUIConfig>
        <GUIConfig name="DetectEncoding">yes</GUIConfig>
        <GUIConfig name="NewDocDefaultSettings" format="0" encoding="4" lang="0" codepage="-1" openAnsiAsUTF8="yes" />
        <GUIConfig name="langsExcluded" gr0="254" gr1="110" gr2="191" gr3="255" gr4="255" gr5="111" gr6="191" gr7="249" gr8="255" gr9="255" gr10="31" gr11="0" gr12="0" langMenuCompact="yes" />
        <GUIConfig name="Print" lineNumber="yes" printOption="3" headerLeft="" headerMiddle="" headerRight="" footerLeft="" footerMiddle="" footerRight="" headerFontName="" headerFontStyle="0" headerFontSize="0" footerFontName="" footerFontStyle="0" footerFontSize="0" margeLeft="0" margeRight="0" margeTop="0" margeBottom="0" />
        <GUIConfig name="Backup" action="0" useCustumDir="no" dir="" isSnapshotMode="yes" snapshotBackupTiming="7000" />
        <GUIConfig name="TaskList">yes</GUIConfig>
        <GUIConfig name="MRU">yes</GUIConfig>
        <GUIConfig name="URL">2</GUIConfig>
        <GUIConfig name="globalOverride" fg="no" bg="no" font="no" fontSize="no" bold="no" italic="no" underline="no" />
        <GUIConfig name="auto-completion" autoCAction="0" triggerFromNbChar="1" autoCIgnoreNumbers="no" funcParams="yes" />
        <GUIConfig name="auto-insert" parentheses="no" brackets="no" curlyBrackets="no" quotes="no" doubleQuotes="no" htmlXmlTag="no" />
        <GUIConfig name="sessionExt"></GUIConfig>
        <GUIConfig name="workspaceExt"></GUIConfig>
        <GUIConfig name="MenuBar">show</GUIConfig>
        <GUIConfig name="Caret" width="1" blinkRate="600" />
        <GUIConfig name="ScintillaGlobalSettings" enableMultiSelection="no" />
        <GUIConfig name="openSaveDir" value="0" defaultDirPath="" />
        <GUIConfig name="titleBar" short="no" />
        <GUIConfig name="stylerTheme" path="C:\Users\dev\Documents\repositories\notebooks\Miscellaneous\saves\xml\stylers.xml" />
        <GUIConfig name="wordCharList" useDefault="yes" charsAdded="" />
        <GUIConfig name="delimiterSelection" leftmostDelimiter="40" rightmostDelimiter="41" delimiterSelectionOnEntireDocument="no" />
        <GUIConfig name="multiInst" setting="0" />
        <GUIConfig name="MISC" fileSwitcherWithoutExtColumn="no" backSlashIsEscapeCharacterForSql="yes" newStyleSaveDlg="no" isFolderDroppedOpenFiles="no" docPeekOnTab="no" docPeekOnMap="no" />
        <GUIConfig name="searchEngine" searchEngineChoice="2" searchEngineCustom="" />
        <GUIConfig name="SmartHighLight" matchCase="no" wholeWordOnly="yes" useFindSettings="no" onAnotherView="no">yes</GUIConfig>
        <GUIConfig name="ScintillaPrimaryView" lineNumberMargin="show" bookMarkMargin="show" indentGuideLine="show" folderMarkStyle="box" lineWrapMethod="aligned" currentLineHilitingShow="show" scrollBeyondLastLine="no" disableAdvancedScrolling="no" wrapSymbolShow="hide" Wrap="yes" borderEdge="yes" edge="no" edgeNbColumn="80" zoom="0" zoom2="0" whiteSpaceShow="hide" eolShow="hide" borderWidth="2" smoothFont="no" />
        <GUIConfig name="DockingManager" leftWidth="200" rightWidth="200" topHeight="200" bottomHeight="204">
            <PluginDlg pluginName="MarkdownViewer++" id="0" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="dummy" id="0" curr="3" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Snippets" id="-1" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="ComparePlugin.dll" id="11" curr="1" prev="-1" isVisible="no" />
            <ActiveTabs cont="0" activeTab="-1" />
            <ActiveTabs cont="1" activeTab="-1" />
            <ActiveTabs cont="2" activeTab="-1" />
            <ActiveTabs cont="3" activeTab="-1" />
        </GUIConfig>
    </GUIConfigs>
    <ProjectPanels>
        <ProjectPanel id="0" workSpaceFile="" />
        <ProjectPanel id="1" workSpaceFile="" />
        <ProjectPanel id="2" workSpaceFile="" />
    </ProjectPanels>
</NotepadPlus>
